// body
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    @include font-work;
    color: $text-clr;
}

h1 {
    font-size: 60px;
    @include for-max-575 {
        font-size: 28px;
    }
}
h2 {
    font-size: 48px;
    @include for-max-575 {
        font-size: 24px;
    }
}
h3 {
    font-size: 36px;
    @include for-max-575 {
        font-size: 20px;
    }
}
h4 {
    font-size: 30px;
    @include for-max-575 {
        font-size: 18px;
    }
}
h5 {
    font-size: 24px;
    @include for-max-575 {
        font-size: 16px;
    }
}
 ul {
     list-style: none;
 }

// 
a {
    text-decoration: none;
}
// 

// font
.font-work {
    @include font-work;
}

// background
.bg-sky-blue {
    background: $sky-blue;
}
.bg-trans {
    background: transparent;
}
.bg-white {
    background: $white;
}
.bg-deep-gray {
    background: $gray-deep;
}
.bg-tag {
    background: $tag;
}
.bg-pink {
    background: $pink;
}
.bg-footer {
    background: $footer-bg;
}
.bg-nav {
    background: $nav-ng;
}
// color
.text-white {
    color: $white;
}
.text-yellow {
    color: $yellow;
}

// z index
.z-5 {
    z-index: 5;
}
.z-10 {
    z-index: 10;
}
.z-15 {
    z-index: 15;
}
// opacity
.opacity-60 {
    opacity: .6;
}
.opacity-70 {
    opacity: .7;
}
.opacity-80 {
    opacity: .8;
}
.opacity-90 {
    opacity: .9;
}
//border
.pink-border {
    border-color: $pink;
}
// border-radius 
.br-20 {
    border-radius: 20px;
}
.br-25 {
    border-radius: 25px;
}
.br-50 {
    border-radius: 50px;
}
// width
.w-100px {
    width: 100px;
}
.w-md-50 {
    @include for-min-768 {
        width: 50% !important;
    }
}
.w-md-75 {
    @include for-min-768 {
        width: 75% !important;
    }
}

.w-fit {
    width: fit-content;
}
// float 
.float-left {
    float: left;
}

// hieght
.h-100px {
    height: 100px;
}

.min-h-150 {
    min-height: 150px;
}


.h-100 {
    height: 100%;
}

// clip path
.right-chervon-clip-path {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0 46%, 0% 0%);
}

.visibility-hidden {
    visibility: hidden;
}
.visibility-visible {
    visibility: visible;
}
