$text-clr: #7e7e7e;
$primary: #c49b66;
$secondery: #fc6f5c;
$black: #000000;
$white: #ffffff;
$top-btn-bg: #262632;
$yellow: #ffd715;
$gray: #eeeeee;
$gray-deep : #c4c4c4;
$gray-black: #444444;
$pink: #FF305B;
$portfolio-ovarlay: #000000cf;
$sky-blue: #04BBD6;
$footer-bg: #222;
$tag:#1c1714;
$nav-ng :#5757576b;
